      BSKY_HANDLE=
      BSKY_PASSWORD=
      MASTODON_HANDLE=
      MASTODON_INSTANCE=
      MASTODON_TOKEN=
      TWITTER_APP_KEY=
      TWITTER_APP_SECRET=
      TWITTER_ACCESS_TOKEN=
      TWITTER_ACCESS_TOKEN_SECRET=
      TWITTER_CROSSPOSTING=
      MASTODON_CROSSPOSTING=
      LOG_LEVEL=
      MASTODON_VISIBILITY=
      MENTIONS=
      POST_DEFAULT=
      MASTODON_LANG=
      TWITTER_LANG=
      QUOTE_POSTS=
      MAX_RETRIES=
      POST_TIME_LIMIT=
      MAX_PER_HOUR=
      OVERFLOW_POST=
      RATE_LIMIT_BUFFER=
